@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color: rgb(199, 33, 33);
    --fullcolor: rgb(255, 0, 0);
--colorHover:rgb(174, 28, 28);
---buttonColor: #fff;
--ligthGrey:rgb(164, 164, 164);
--background: rgb(47, 47, 47);
--ligthBack:rgb(67, 67, 67);
--black:black;
--background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
}


*{
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0%;
    background-color: black;
}
