.landing {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('https://64.media.tumblr.com/5636a71fbff0658a6d8babf33f267f67/tumblr_p0d5mg9vGf1wjj45go1_250.gifv');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  
  .start {
    margin-top: 410px;
    margin-left: 300px;
    height: 60px;
    width: 500px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .start:hover {
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); ;
  }